* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  background: #eff1f2;
  color: #24292d;
  font-family: 'Open Sans', Helvetica, sans-serif;
  font-size: 1.3em;
}

h1 {
  font-size: 150%;
}
h2 {
  font-size: 130%;
}
h3 {
  font-size: 110%;
}

input[type=text], textarea {
  -webkit-transition: box-shadow 0.30s ease-in-out;
  -moz-transition: box-shadow 0.30s ease-in-out;
  -ms-transition: box-shadow 0.30s ease-in-out;
  -o-transition: box-shadow 0.30s ease-in-out;
  transition: box-shadow 0.30s ease-in-out;
  outline: none;
}
 
input[type=text]:focus, textarea:focus {
  box-shadow: 0 0 5px red;
}