/* ---------- Header ---------- */
header {
  background: #a7aeb2;
  padding: 0.5em 0;
}
header h1 > a {
  font-weight: bold;
  font-size: 110%;
  text-decoration: none;
}
header > nav > ul > li a,
header > nav > ul > li label {
  color: red;
  text-decoration: none;
}
header > nav > ul > li a:visited {
  color: red;
}

main {
  display: flex;
  flex-flow: row nowrap;
}

main > section {
  overflow-y: scroll;
  width: 100%;
}

/* Lists menu ------------------------------------ */

/* ---------- Side menu toggling ---------- */

main > aside {
  background: #fff;
  left: 0;
  overflow-x: hidden;
  transition: width 250ms ease-in-out, padding 250ms ease-in-out;
  top: 0;
  width: 0;
}

input#open-aside {
  display: none;
}
input[type='checkbox']:checked ~ aside {
  padding: 0 0.4em;
  width: 50vw;
}
@media screen and (max-width: 600px) {
  header {
    padding-bottom: 0;
  }
  header > nav > ul {
    align-items: center;
    flex-flow: column nowrap;
    justify-content: center;
  }
  header > nav > ul > li {
    padding: 0.3em 0;
    text-align: center;
    width: 100%;
  }
  header > nav > ul > li *,
  nav a {
    width: 100%;
  }
  header > nav > ul > li:first-child {
    order: 1;
  }
  header > nav > ul > li:nth-child(2) {
    background: #ffd0d0;
    order: 3;
  }
  header > nav > ul > li:last-child {
    background: #e0e4e7;
    order: 2;
    /* display: none; */
  }
  main {
    flex-flow: column nowrap;
  }
  main > aside {
    height: 0;
    transition: none;
    transition: height 250ms;
  }
  input[type='checkbox']:checked ~ aside {
    background: transparent;
    height: auto;
    margin: 0 auto;
    padding: 0 0.4em;
    width: 80%;
  }
}

.open-aside-label {
  cursor: pointer;
}

main > aside {
  display: flex;
  flex-flow: column nowrap;
  font-size: 90%;
}
/* add list form ------------------------ */
main > aside > form {
  display: flex;
  flex-flow: row nowrap;
  height: 2em;
  justify-content: flex-start;
  margin: 0.5em 0;
  width: 100%;
}
main > aside > form > input[type='text'] {
  background: #ffd0d0;
  color: red;
  flex: 1;
  font-size: 100%;
  margin-left: 0.3em;
  margin-right: 1.7em;
  padding-left: 0.3em;
  width: 100%;
}
main > aside > form > input[type='text']::placeholder {
  color: red;
}
main > aside > form > input[type='submit'] {
  background: #ffd0d0;
  color: red;
  height: 2em;
  min-width: 2em;
}
aside > ul {
  display: flex;
  flex-flow: column nowrap;
}
aside > ul > li {
  margin-bottom: 0.3em;

  height: 1.5em;

  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
aside > ul > li:hover label {
  background: #e0e4e7;
}
aside > ul > li:hover button {
  opacity: 1;
}
aside > ul > li > label {
  background: lightgrey;
  flex: 1;
  height: 1.5em;
  line-height: 1.5em;
  padding: 0 0.3em;
}

aside > ul > li > button {
  background: #ffd0d0;
  color: red;
  height: 1.5em;
  margin-left: 0.2em;
  width: 1.5em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

/* ---------- Current list section ---------- */
main > section {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;
}
main > section > h2 {
  font-size: 220%;
}
/* Add task form */
main > section > form {
  display: flex;
  flex-flow: row nowrap;
  height: 2em;
  justify-content: space-between;
  margin: 0.5em 0;
  /* width: 100%; */
  max-width: 70vw;
  width: 80%;
}
main > section > form > input[type='text'] {
  background: #ffd0d0;
  color: red;
  flex: 1;
  font-size: 100%;
  margin-left: 0.7em;
  padding-left: 1em;
}
main > section > form > input[type='text']::placeholder {
  color: red;
}
main > section > form > input[type='submit'] {
  background: #fff;
  color: red;
  height: 2em;
  min-width: 2em;
}

/* Task lists ------------------------------------ */
section > ul {
  display: flex;
  flex-flow: column nowrap;
  max-width: 70vw;
  width: 80%;
}
section > ul > li {
  margin-bottom: 0.3em;
  height: 2em;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}
section > ul > li > input {
  background: #fff;
  flex: 1;
  font-size: 100%;
  padding-left: 1em;
  margin-left: 0.7em;
  margin-right: 0.3em;
  transition: background 0.3s ease-in-out;
}
section > ul > li > input:focus {
  background: #ffd0d0;
}
section > ul > li > button {
  background: red;
  color: #fff;
  height: 2em;
  margin-right: -2.3em;
  opacity: 0;
  width: 2em;
  transition: opacity 0.3s ease-in-out;
}
section > ul > li:hover button {
  opacity: 1;
}
#complete-list > li > input {
  background: #e0e4e7;
  color: #a7aeb2;
  text-decoration: line-through red;
}

/* Custom checkbox ------------------------------- */
.checkbox-container {
  cursor: pointer;
  display: block;
  padding-left: 2em;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

/* Hide the browser's default checkbox */
.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.custom-checkbox {
  background-color: #fff;
  height: 2em;
  left: 0;
  position: absolute;
  top: 0;
  width: 2em;
  transition: background-color 0.3s ease-in-out;
}

/* On mouse-over, add a background color */
.checkbox-container:hover input ~ .custom-checkbox {
  background-color: #ffd0d0;
}

/* When the checkbox is checked, add a different background */
.checkbox-container input:checked ~ .custom-checkbox {
  /* background-color: #ffd0d0; */
}

/* Create the checkmark/indicator (hidden when not checked) */
.custom-checkbox:after {
  content: '';
  display: none;
  position: absolute;
}

/* Show the checkmark when checked */
.checkbox-container input:checked ~ .custom-checkbox:after {
  display: block;
}

/* Style the checkmark/indicator */
.checkbox-container .custom-checkbox:after {
  border: solid red;
  border-width: 0 3px 3px 0;
  height: 1em;
  left: 0.7em;
  top: 0.3em;
  transform: rotate(45deg);
  width: 0.5em;
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  /*
  left: .7em;
  top: -.7em;
  width: 1em;
  height: 2em;
  */
}

/* ----- Footer ----- */
footer {
  background: #a7aeb2;
  color: red;
  font-size: 80%;
  padding: 1.5em 0 1em 0;
  text-align: center;
}
