/* See css-tricks' guide on flexbox: 
https://css-tricks.com/snippets/css/a-guide-to-flexbox/

font-family: 'Noto Sans SC', sans-serif;
font-family: 'Open Sans', sans-serif;

Color palette:
https://coolors.co/f6f8fa-24292d-e1e4e7-3f4447-f5f7f9

ghost white
#F6F8FA

white smoke
#F5F7F9

platinum
#E1E4E7

arsenic
#3F4447

charleston green
#24292D

*/

html, body {
    height: 100%;
    background: #E1E4E7;
    color: #24292D;
    font-size: 1rem;
    font-family: 'Open Sans', Helvetica, sans-serif;
    font-weight: 400; /* 'Open Sans' regular = 400 */
}

body {
    /* background: #ffffff; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 10vw;
    font-family: 'Noto Sans SC', sans-serif;
}
@media screen and (min-width: 1200px) {
    h1 {
       font-size: 750%;
    }
  }

header a, footer a {
    color: #3F4447;
    font-size: 2vw;
    text-decoration: none;
    /* font-family: 'Noto Sans SC', sans-serif; */
    font-weight: 600;
    letter-spacing: -0.05rem;
}
@media screen and (min-width: 1200px) {
    header a, footer a {
       font-size: 150%;
    }
}

header a {
    margin-left: 30px;
}

header a span {
    font-size: 3.5vw;
    color: red;
    line-height: 79%;
    display: inline-block;
    margin-left: -10px;

}

form input {
    font-size: 4vw;
    border-radius: 20vw;
    padding: 1.5vw 5vw;
    /* text-align: center; */
}

.flex-container {
    /* background: #ffffff;     */
    height: 99.9%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    /* justify-content distributes items along main axis. 'space-between' makes items are evenly distributed in the line; first item is on the start line, last item on the end line. */
    justify-content: space-between;
    /* align-items distributes items along the cross axis. 'center' makes items centered in the cross-axis. */
    align-items: center;
    min-height: 0;
}

.flex-container > *, form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.flex-container > * {
    /* border: 3px dashed red; */
}

.flex-container main {
    flex-grow: 1;
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .flex-container main > * {
    border: 3px dashed orange;
} */

/* ---------------------------------------------------------------------------------------------------- */
/* Specific to index.html */

#name-list {
    line-height: 140%;
}

#new-title {
    width: 100%;
    padding: .8vw 1vw .8vw 2vw;
    font-size: 4vw;
    border: none;
    background: #ffffff;
    color: red;
    border: 5px solid transparent;
    outline: none;
}

#new-title:focus {
    border: 4px solid red;
    outline: none;
    /* box-shadow: 0px 0px 4px red; */
    caret-color: red;
    background: #FFD0D0;
    color: #ffffff;
}

#add-list {
    font-size: 4vw;
    border-radius: 100%;
}

/* ---------------------------------------------------------------------------------------------------- */
/* Specific to about.html */

.about-body {
    /* to make about page content overflow scrollable */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
}

.team-list {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: center;
flex-shrink: 1;
}

.team-list li {
    display: flex;
    flex-flow: row wrap;
    flex-shrink: 1;
}

.team-list figure {
    flex-shrink: 1;
}

.team-list img {
    max-width: 10vw; 
    border-radius: 100%;
    flex-shrink: 1;

}

.team-list section {
    max-width: 70vw; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 1;
}

.team-list li section > h2 {
    font-weight: bold;
}

/* ---------------------------------------------------------------------------------------------------- */
/* Specific to lists.html */

.list-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.list-page .flex-container {
    display: flex;
    flex-direction: column;
}
.flex-container header {
    flex-shrink: 0;
}
.flex-container .content-flex-container {
    flex: 1 0 auto;
}
.flex-container footer {
    flex-shrink: 0;
}

.content-flex-container {
    display: flex;
    justify-content: flex-start;
    padding: 0 100px;
}
.list-page h1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    background: none;
    border-radius: 20vw;
}

.list-page h1 input {
    width: 100%;
    border: none;
    border-radius: 20vw;

    border: 5px solid transparent;
    background: transparent;
    font-family: 'Noto Sans SC', sans-serif;
    text-align: center;
    font-size: 3.6vw;
    

}
.list-page h1:hover {
    background: #FFD0D0;
    border-radius: 20vw;

}
.list-page h1 input:focus, .list-page h1 input::selection {
    background: #FFD0D0;
    border-radius: 20vw;

}

.content-flex-container form {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}
.content-flex-container form input {
    font-size: 2.5vw;
    padding: .2vw 0 0.2vw 2vw;
    flex: 5 0 auto;
    border-radius: 20vw;
    background: #ffffff;
    color: red;
    border: 3px solid transparent;
    outline: none;
}
.content-flex-container form input:focus {
    border: 3px solid red;
    background: #FFD0D0;
}
.content-flex-container form button {
    flex: 1 0 auto;
    width: 2vw;
    background: none;
    border: none;
}
.content-flex-container image {
    width: 2vw;
}

.content-flex-container main  {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container {
    /* background: #3F51B5; */
    flex: 1 0 auto;
    /* give the outermost container a predefined size */
    position: relative;
    width: 600px;
    
    display: flex;
    flex-direction: column;
}

.section {
    margin: 10px;
    flex-grow: 1;
    
    display: flex;
    flex-direction: column;
    
    /* for Firefox */
    min-height: 0;

}
#incomplete-list {
    /* border: 6px dashed magenta; */
    border-top: 3px solid #3F4447;
    border-bottom: 3px solid #3F4447;

    flex-grow: 1;
  
    overflow: auto;

    /* for Firefox */
    min-height: 0;
}
#complete-list {
    flex-grow: 1;
}

.list-page li {
    display: flex;
    flex-direction: row;
}

.list-page label {
    display: flex;
    width: 100%;
    flex-direction: row;
    flex: 1;
    padding: .4vw 0;
    background: none;
}
/* .list-page li:hover + .list-page label button {
    display: block;
} */


.list-page label input:first-child {
    flex-grow: 1 0 auto;
    -webkit-transform: scale(2.5);
    margin: auto;
}
.list-page label input:nth-child(2) {
    flex-grow: 2 0 auto;
    width: 100%;
    font-size: 2vw;
    padding: 0 .4vw;
    margin-left: 1vw;
    border-radius: 20vw;
    background: #ffffff;
    color: #3F4447;
    border: 3px solid transparent;
    outline: none;
}
.list-page label input:nth-child(2):focus {
    border: 3px solid red;
    background: #FFD0D0;
}

#complete-list input {
    background: #ffffff;
    opacity: .4;
    text-decoration: line-through;
    color: #3F4447;
}

.list-page label button {
    flex-grow: 1 0 auto;
    background: none;
    border: none;
    margin: auto;
    /* display: none; */
}