/* ---------- Header ---------- */
header {
  background: #a7aeb2;
  padding: 0.5em 0;
}
header h1 > a {
  text-decoration: none;
}
header > nav > ul > li a,
header > nav > ul > li label {
  color: red;
  text-decoration: none;
}
header > nav > ul > li a:visited {
  color: red;
}

/* ---------- Side menu toggling ---------- */
main {
  display: flex;
  flex-flow: row nowrap;
}

main > aside {
  background: lavenderblush;
  transition: width 250ms ease-in-out;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
}

main > section {
  width: 100%;
}

input#openSidebarMenu {
  display: none;
}
input[type='checkbox']:checked ~ aside {
  width: 40vw;
}
.sidebarIconToggle {
  cursor: pointer;
}

/* ---------- Current list section ---------- */
main > section {
  align-items: center;
  display: flex;
  flex-flow: column nowrap;
  margin-top: 1em;
}
main > section > * {
  max-width: 50%;
  text-align: center;
  width: 100%;
}

main > section > h2 {
  font-size: 220%;
}
/* Add task form */
main > section > form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0.5em 0;
  width: 100%;
}
main > section > form > input[type='text'] {
  background: #fff;
  margin-left: 0.5em;
  width: 100%;
}
main > section > form > input[type='submit'] {
  color: red;
  font-size: 200%;
}

/* Task lists */

/* Custom checkboxes ---------------------------- */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #fff;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #a7aeb2;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #fff;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid red;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

/* ----- Aside ----- */

/* main > section {
  background: lavenderblush;
}
main > section > h2 {
  text-align: center;
} */

/* 
.sidenav .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
} */
/* main > aside {
  display: flex;
  flex-flow: column nowrap;
  padding: 0.4em;
}
main > aside > h2 {
  text-align: center;
}
main > aside > #lists-ul > li {
  background: lightblue;
  margin: 0.3em 0;
  padding: 0.4em 0.6em;
}
main > aside > #lists-ul > li:hover {
  box-shadow: 0px 0px 32px 8px rgba(0,0,0,0.25);
} */

/* #lists-ul {
  list-style: disc inside;
} */

/* ----- Footer ----- */
footer {
  background: #a7aeb2;
  font-size: 80%;
  padding: 1.5em 0 1em 0;
  text-align: center;
}
